body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: cyan;
    margin-bottom: 20px;
}

.container {
    border: 2px solid cyan;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: cyan;
}

input[type="text"], select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border: 2px solid cyan;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}

button {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid cyan;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

button:hover {
    background-color: cyan;
    color: black;
}